accelerate==0.20.3
controlnet_aux==0.0.6
diffusers==0.18.1
einops==0.6.1
gradio==3.36.1
huggingface-hub==0.16.4
mediapipe==0.10.1
opencv-python-headless==4.8.0.74
safetensors==0.3.1
torch==2.0.1
torchvision==0.15.2
transformers==4.30.2
xformers==0.0.20
